.container {
  background: var(--gray-400);
}

.app {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
