
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.teste {
  background: var(--gray-500);
}

.textareaAndButton {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-top: -2rem;
  justify-content: center;
}

.textarea {
  width: 40rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  height: 4rem;
  padding: 1rem;

  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: var(--gray-100);
  background: var(--gray-500);
  align-items: center;
  padding-top: 1.3rem;
  resize: none;
  line-height: 1.4;
}

.buttonCreate {
  padding: 0.30rem 1rem;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;

  font-size: 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}

.buttonCreate:hover {
  filter: brightness(0.9);
}

.informationsTask {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;

  padding: 0.5rem 22rem;
}

.tasksCreated {
  color: var(--blue);
  font-size: 1rem;
  font-weight: bold;  
}

.numberTasksCreated {
  background: var(--gray-300);
  border-radius: 999px;
  padding: 0.25rem 0.5rem;
  color: var(--gray-100);
}

.numberCompletedTasks {
  background: var(--gray-300);
  border-radius: 999px;
  padding: 0.25rem 0.5rem;
  color: var(--gray-100);
}

.completedTasks {
  color: var(--purple);
  font-size: 1rem;
  font-weight: bold;  
}

